.img1{
    text-align: center;
    position: absolute;
    z-index: -1;
}
.container{
    position: relative;
}
/* Z index can be used or not no need to be get confused */
.black{
    margin-top: 100px;
    position:relative;
    border: 2px solid black;
    /* z-index: 1; */
    /* margin:3px; */
    height: 100px;
}
.grey{
    position: absolute;
    margin-top: 20px;
    background-color: rgb(173, 159, 187);
    /* z-index: 2; */
    width: 40%;
    height: 70px;
    left: 50px;
    top: 50px;
}
.red{
    margin-top: 6px;
    position: absolute;
    /* z-index: 3; */
    background-color: rgb(109, 98, 98);
    width: 50%;
    height: 60px;
    left: 150px;
    top: -10px;
}
.div{
    /* float: left; */
    display: flex;
    justify-content:left;
    padding: 15px;
    height: 35px;
}
.div1{
    text-align: center;
    background-color: red;
    border: 2px solid black;
    height:40px;
    width: 60px;
}
.div2{
    text-align: center;
    background-color:yellow;
    border: 2px solid black;
    height:40px;
    width: 60px;
}
.div3{
    text-align: center;
    background-color: blue;
    border: 2px solid black;
    height:40px;
    width: 60px;
}
.no1{
    float: left;
    padding: 3px;
    border: 2px solid black;
}
.no2{
    padding-top: 15px;
    float:none;
    border: 2px solid black;
    height: 40px;
}
.no3{
    padding: 3px;
    float: left;
    border: 2px solid black;
}
p{
    padding-top: 15px;
    border: 2px solid black;
}
a{
    color: rgb(23, 58, 162);
}