ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}
li {
    float: left;
}

li a{
    display: inline-block;
    text-align: center;
    color: white;
    padding: 16px;
    text-decoration: none;
}
.box {
    background-color: aliceblue;
    border: 1px solid red;
    width: 524px;
    height: 224px;

}

.box1 {
    background-color: rgb(27, 116, 195);
    width: 424px;
    height: 224px;
    border: 1px solid rgb(19, 19, 19);

}

.box2 {
    background-color: rgb(41, 163, 102);
    width: 344px;
    height: 224px;
    border: 1px solid rgb(172, 127, 127);
}