*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
nav{
    display: flex;
    width: 100%;
}
.heading,.nav-bar{
    width: 50%;
}
.heading h1{
    padding: 10%;
}
.nav-bar{
    padding: 6%;
}
.nav-bar a{
    text-decoration: none;
    float: right;
}
header{
    background-image: url('https://images01.nicepage.com/c461c07a441a5d220e8feb1a/c4914204791451839833972d/5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    /* height: 30vh; */
}
header h1{
    padding: 15% 0% 3% 13%;
}
header p{
    padding: 3% 0% 0% 15%;
    width: 83%;
    font-size: 1.5rem;
}
.learn{
    background-color: aliceblue;
    width: 35%;
    height: 40px;
    text-align: center;
    /* margin-left: 15%; */
    margin: 4% 0% 0% 15%;
    padding-top: 10px;
}
.learn a{
    font-size: 1rem;
    text-decoration: none;
}

.box1,.box2,.box3,.box4{
    width: 25%;
    padding: 50px;
    text-align: center;
    background-color: #F7F7F7;
}
.box1 p,.box2 p,.box3 p,.box4 p{
    font-size: 16px;
    line-height: 28px;
}
.box1 h4,.box2 h4,.box3 h4,.box4 h4{
    font-size: 1.5rem;
}
.m1{
    width: 80px;
    height: 80px;
    background-color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    rotate: 45deg;
    text-decoration: none;
    
}
.m1:hover{
    background-color: rgb(95, 95, 65);
    rotate: -90deg;
    transition: 0.8s;
}
